.form-container {
    margin: 100px 0px;
}
.form-container h2 {
    text-align: center;
}
.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container form input, textarea {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
}
input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
  }
.form-container form a {
   text-decoration: none;
   font-weight: 500;
}
.form-container form textarea {
    height: 100px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .form-container form input, textarea {
        width: 90%;
        
    }
  }